body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/fondologin.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(3px);
    /* Aplica un efecto borroso */
    z-index: -1;
    /* Asegúrate de que esté detrás de todo el contenido */
}

header {
    background-color: rgba(157, 122, 221, 0.397);
    /* Fondo semi-transparente */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    margin: 20px;
    font-family: 'Creepster', cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    /* Bordes redondeados */
}

.titulo {
    font-size: 80px;
    margin: 0;
    padding: 1px;
}

.header img {
    transition: transform 0.5s;
    height: 200px;
}

.header img.zoom {
    transform: scale(1.4);
}

.perfil-container {
    display: flex;
    flex-direction: row;
    /* Alinea los elementos en fila */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
    /* Centra los elementos verticalmente */
    gap: 10px;
    /* Añade espacio entre los elementos */
    margin: 40px 20px 30px 20px;
    background-color: rgba(157, 122, 221, 0.397);
    border-radius: 30px;
    padding: 60px 10px;
    height: 50vh;
}
.botones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    background-color: rgba(157, 122, 221, 0.397);
    border-radius: 30px ;
    padding: 30px;

}
.botones a {
    color: white;
    text-decoration: none;
    font-family: 'Creepster', cursive;
    font-size: 30px;
    transition: transform 0.5s, color 0.5s;
}
.botones a:hover {
    transform: scale(1.4);
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    animation: rainbow 3s ease infinite;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /* Necesario para compatibilidad con WebKit */
}
@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}